
.simon-buttons{

    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    left: 205px;
    border: 4px solid black;

}
#red{
    background-color: red;
}
#blue{
background-color: blue;
}
#yellow{
    background-color: yellow;

}
#green{
    background-color: green;

}
#start {
    position: relative;
    top: 30px;
    font-weight: bold;
    border-radius: 10px;
}
